* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #d3d3d3;
  --text-color-disabled: #adadad;
  --background-color: #0e003d;
  --button-color: #004fbd;
  --button-disabled-color: #488be9;
  --button-hover-color: #3079df;
  --button-shadow-color: rgb(92 89 233 / 45%);
  --action-button-color: #09b400;
  --action-button-shadow-color: rgb(0 200 57 / 45%);
  --table-border-color: #3079df;
  --table-background-color: #002962;
  --top-cell-color: #004fbd;
}

body {
  min-height: calc(100vh - 40px);
  margin: 20px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: var(--text-color);

  background-color: var(--background-color);
}

.choose-room-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 20px;
}

button {
  cursor: pointer;

  width: 150px;
  height: 35px;
  padding: 10px;
  border: none;
  border-radius: 5px;

  font-size: 14px;
  color: var(--text-color);
  text-transform: uppercase;

  background-color: var(--button-color);
  box-shadow: 4px 4px 4px var(--button-shadow-color);

  transition: background-color 0.5s ease-in-out;
}

.create-button,
.update-button {
  background-color: var(--action-button-color);
  box-shadow: 4px 4px 4px var(--action-button-shadow-color);
}

.generate-button {
  width: 200px;
  background-color: var(--action-button-color);
  box-shadow: 4px 4px 4px var(--action-button-shadow-color);
}

input {
  height: 35px;
  padding: 3px;
  border-radius: 5px;
}

.input-car-model {
  width: 310px;
}

.input-color {
  width: 40px;
}

.choose-modes-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 50px;
}

.choose-container,
.update-container,
.race-buttons-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.garage-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.garage-content,
.winners-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.garage-text,
.winners-text {
  font-weight: 700;
}

.car-area {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: -100px;
}

.car-area-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.a-button,
.b-button {
  width: 30px;
  border: 1px solid var(--button-color);
  background-color: transparent;
}

.model-text {
  display: block;
}

.car svg {
  position: relative;
  bottom: 61px;
  left: 90px;
  fill: var(--svg-fill-color);
}

.car_small svg {
  position: static;
  bottom: 0;
  left: 0;

  width: 50px;

  fill: var(--svg-fill-color);
}

.road {
  position: relative;
  top: -100px;
  width: 100%;
  border-bottom: 3px dashed var(--text-color);
}

.finish-flag {
  position: relative;
  bottom: 166px;
  left: 90%;

  width: 50px;
  height: 50px;
}

.prev-next-buttons {
  position: relative;
  z-index: 10;
  bottom: 0;

  display: flex;
  gap: 10px;

  width: 100%;
  margin-bottom: 20px;
}

.prev-button_disabled,
.next-button_disabled,
.garage-button_disabled,
.winners-button_disabled {
  pointer-events: none;
  cursor: default;
  color: var(--text-color-disabled);
  background-color: var(--button-disabled-color);
}

.winners-table {
  width: 60%;
  margin-bottom: 100px;
  border: 1px solid var(--table-border-color);

  font-size: 16px;

  background-color: var(--table-background-color);
}

.head-row-table {
  background-color: var(--table-border-color);
}

.cell-table {
  padding: 5px;
  border: 1px solid var(--top-cell-color);
  text-align: center;
}

@media (hover: hover) {
  button:hover {
    background-color: var(--button-hover-color);
  }
}
